<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-sdk" version="0.1.5">
  <name>cordova-sdk</name>
  <description>Queue-It Cordova Plugin</description>
  <license>MIT</license>
  <keywords>queue-it, cordova, plugin</keywords>

  <js-module src="www/queueit.js" name="queueit">
    <runs/>
    <clobbers target="QueueIt" />
  </js-module>

  <!--  resolve conflicts with other Cordova plugins by putting this part outside of <platform>-->
  <edit-config file="app/src/main/AndroidManifest.xml"
               target="/manifest/application"
               mode="merge">
    <application android:allowBackup="false"/>
  </edit-config>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="QueueIt" >
        <param name="android-package" value="com.queueit.QueueIt"/>
      </feature>
    </config-file>
    <framework src="com.queue_it.androidsdk:library:2.0.32"/>
    <source-file src="src/android/QueueIt.java" target-dir="src/com/queueit" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="QueueIt">
        <param name="ios-package" value="CPQueueIt" />
      </feature>
    </config-file>
    <podspec>
      <config>
        <source url="https://github.com/brightcove/BrightcoveSpecs.git" />
        <source url="https://github.com/CocoaPods/Specs.git"/>
      </config>
      <pods use-frameworks="true">
        <pod name="QueueITLibrary" spec="~> 3.0.5" />
      </pods>
    </podspec>
    <header-file src="src/ios/CPQueueIt.h" />
    <source-file src="src/ios/CPQueueIt.m" />
  </platform>

</plugin>
